header {
    height: 70px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 53px;
    font-family: raleway;
  }
  .logo {
    display: flex;
    width: 33px;
    height: 33px;
  }
  .logo-name {
    padding: 13px;
  }
  
  .header-line {
    display: flex;
    align-items: center;
  }
  
  .header-line>p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #3C3C3C;
  }
  
  .circle {
    margin-left: 39px;
    margin-right: 15px;
  }
  
  .cash {
    width: 100px;
  }
  
  .cash>a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #52719F;
  }
  .cash>a:hover{
    text-decoration-line: underline;
    color: #3C3C3C;
  
  }
  .cash>a:active{
    text-decoration-line: underline;
    color: #8BB47D;
  
  }
  
  .coin {
    display: flex;
    align-items: center;
  
  }
  
  .coin>p {
    margin-left: 6px;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #3C3C3C;
  }
  @media screen and (max-width:787px) {
    .logo{
      display: block;
    }
    .logo-name{
      display: none;
    }
    header{
      padding: 11px 15px;
    }
  }